{% extends 'items/base.html' %}
{% load socialaccount %}
{% load i18n %}
{% block content %}
<div class="flex flex-col w-full h-screen items-center justify-center">
    <div class="flex flex-col bg-blue-300 h-2/5 w-2/5 items-center justify-between m-8 pb-12 pt-8 rounded-lg">
        <p class="text-3xl font-medium text-black my-16">Login with your Bits Email</p>
        <div>
            <form action="{% provider_login_url 'google' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="bg-gray-200 p-2"><span class="text-xl font-thin">Login</span></button>
              </form>
        </div>
    </div>
</div>
{% endblock content %}