{% extends 'items/base.html' %}
{% block content %}
<div class="flex flex-col w-full h-screen items-center justify-center">
    <div class="flex flex-col bg-blue-300 h-3/10 w-2/5 items-center justify-start rounded-lg">
        <div class="flex flex-row w-full px-4 pt-4 justify-start items-start">
            <button type="submit" action="{% url 'home' %}">
                <a href="{% url 'home' %}"><i class="fa fa-lg fa-trash"></i></a>
            </button>
        </div>
        <div class="flex flex-col  w-full items-center justify-center">
            <p class="text-3xl font-medium text-black mx-4 mt-10 mb-10">Are you sure you want to logout?</p>
        </div>
        <div class="mb-8">
            <button class="bg-gray-200 p-2" type="submit" action="{% url 'login' %}">
                <a href="{% url 'login' %}"><span class="text-xl font-thin">Logout</span></a>
            </button>
        </div>
    </div>
</div>

{% endblock content %}